* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth; /* для плавного скрола */
}

body {
  width: 100%;
  margin: 0 auto;
  font-family: YanoneKaffeesatz, sans-serif;
}

ul,
li {
  list-style: none;
}

a {
  color: inherit;
}

img {
  width: 100%;
}

button {
  font: inherit;
}
