.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  background-color: #eac4d5;
  padding: 25px 50px;
  font-size: 18px;
  border: 1px solid black;
}

.header__links-list {
  display: flex;
  gap: 32.5px;
  list-style-type: circle;
}

.card__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  padding: 10px;
  text-align: center;
  position: relative;
}

.card {
  border: 1px solid black;
  height: 100%;
}

.card__li-button {
  width: 100%;
  height: 375px;
  background-color: #d6eadf;
}

.card:nth-child(3),
.card:nth-child(5),
.card:nth-child(7) {
  transform: translatey(-375px);
}

.card_drinks {
  height: 750px;
  background-color: #b8e0d2;
}

.main {
  background-color: #95b8d1;
}

.images__card {
  display: block;
  width: 400px;
  height: 600px;
  margin: auto;
}

.header__logo,
.footer__logo {
  display: block;
  width: 120px;
  height: 100px;
}

.header__address,
.footer__social-list-position {
  justify-self: end;
}

.contact-information,
.header__link-active {
  text-decoration: none;
}

.footer {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  background-color: #809bce;
  padding: 25px 50px;
  font-size: 18px;
  border: 1px solid black;
}

.footer__address {
  justify-self: start;
}

.footer__social-list {
  display: flex;
  gap: 48px;
}

.footer__social-list-icon {
  width: 48px;
  height: 48px;
  list-style-type: none;
}
